*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .title{
    font-size: 2.5rem;
    text-align: center;
  }
  .video-contenedor{
    position: relative;
    padding-bottom: 70%;
    padding-top: 5px;
    height: 0;
    overflow: hidden;
  }
  .video-contenedor iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  html{
height: 100%;
  }
 body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #fff;
 }
  
  header{
      height: 100px;
      background: #283655;
      padding: 0 50px;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .logo{
      text-transform: uppercase;
      color: #fff;
      font-weight: 200;
  }
  
  .menu a{
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0 10px;
      transition: 0.4s;
  }
  footer{
    background: #4d4d5c;
    color: #cccccc4a;
    text-align: center;
    padding: 5px 0px;
    align-items: center;
    margin-top: auto;
}

  .contenedor{
    display: flex;
    padding: 20px 20px;
  }
  .contenedor div{
    padding: 20px 20px;
  }

  .imagen{
    width: 350px;
    padding: 20px 20px;
  }
  
  @media(max-width: 768px){
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4d4d5c;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100; 
        transition: 0.8s;
    }
    .contenido-banner h3{
        width: 100%;
        height: auto;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
    #personas{
        flex-direction: column;
    }
    .datos-form{
        flex-direction: column;
    }
    .contenedor{
        flex-direction: column;
    }
}